.table {
    width: 100%;
    padding: 50px 10px;
    z-index: 20;
    font-weight: normal;
    font-size: 12px;
    height: 56px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.87);
}

.table h3 {
    text-align: left;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}

.table table {
    width: 100%;
}

.table_btn {
    background-color: rgb(158, 158, 158);
    border-radius: 10px;
    padding: 7px;
    width: 110px;
    cursor: pointer;
}

.schemaModal_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: #fff;
}

.schemaModal_wrapper>*:not(:first-child) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
}

.schemaModal_close {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    z-index: 10;
}

.schemaModal_close img {
    width: 70px;
    height: 70px;
}