.modalResidual_wrapper {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.modalResidual_row {
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.modalResidual_row:first-child {
    justify-content: center;
    height: 170px;
}

.modalResidual_row:first-child .modalResidual_el {
    border-radius: 45px;
    background-color: #286E9F;
}

.modalResidual_el {
    box-sizing: border-box;
    padding: 20px;
    max-width: 30%;
    width: 100%;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    cursor: pointer;
}

.modalResidual_row:nth-child(2) .modalResidual_el {
    border-radius: 36px;
    background-color: #069B27;
}

.modalResidual_el p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    color: #FFFEFE;
    text-align: center;
}

.modalResidual_el h4 {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 38px;
    line-height: 52px;
    color: #FFFEFE;
    text-align: center;
}

.modalResidual_row:first-child .modalResidual_el p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
    color: #FFEEEE;
}